.login-form {
  margin: auto;
  background-color: #f6f5fd;
  color: #392f9e;
}

.form-title, label {
  color: #392f9e;
}

input {
  border-color: #392f9e;
}

#text-link {
  color: #392f9e;
  text-decoration: none;
  cursor: pointer;
}

#login-button {
  width: 100px;
  background-color: #5244e3;
  color: white;
}

#google-login-button {
  width: 200px;
  margin: 0 auto;
}

/* Responsive Styles */

@media (max-width: 400px) {
  .login-form {
    max-width: 84vw
  }
}