form {
  width: 50vw;
  margin: auto;
  background-color: #f6f5fd;
}

.form-title, label {
  color: #392f9e;
}

input {
  border-color: #392f9e;
}


#login-button {
  background-color: #5244e3;
  color: white;
}