.register-form {
  margin: auto;
  background-color: #f6f5fd;
  color: #392f9e;
}

.form-title, label {
  color: #392f9e;
}

input {
  width: 240px;
  border-color: #392f9e;
}

select {
  width: 240px;
  color: #392f9e;
}

option {
  color: #392f9e;
}

#text-link {
  color: #392f9e;
  text-decoration: none;
  cursor: pointer;
}

#register-button {
  background-color: #5244e3;
  color: white;
}

#google-register-button {
  width: 200px;
  margin: 0 auto;
}

/* Responsive Styles */

@media (max-width: 400px) {
  .register-form {
    max-width: 84vw
  }
  input, select {
    max-width: 100%;
  }
}