img {
  width: 100%;
}

.card-title {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  bottom: 0;
}

/* Responsive Styles */

@media (min-width: 320px) {
  .card-title {
    font-size: 12px;
  }  
}

@media (min-width: 400px) {
  .card-title {
    font-size: 13px;
  }  
}

@media (min-width: 440px) {
  .card-title {
    font-size: 14px;
  }
}

@media (min-width: 520px) {
  .card-title {
    font-size: 15px;
  }
}

@media (min-width: 577px) {
  .card-title {
    font-size: 13px;
  }
}

@media (min-width: 660px) {
  .card-title {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .card-title {
    font-size: 15px;
  }
}

@media (min-width: 820px) {
  .card-title {
    font-size: 15px;
  }
}

@media (min-width: 880px) {
  .card-title {
    font-size: 16px;
  }
}

@media (min-width: 940px) {
  .card-title {
    font-size: 17px;
  }
}

@media (min-width: 1080px) {
  .card-title {
    font-size: 18px;
  }
}