.city-title {
  color: #392f9e;
}

/* Responsive Styles */

@media (min-width: 640px){
  .city {
    margin: 0 8%
  }
}

@media (min-width: 992px) {
  .city {
    margin: 0;
  }
  .city-image {
    width: 50%;
  }
}