.logo {
  width: 120px;
}

.nav-bar {
  justify-content: space-between;
}

/* Responsive Styles */

@media (min-width: 360px) {
  .nav-bar {
    justify-content: end;
  }  
}

@media (max-width: 576px) {
  .logo {
    width: 96px;
  }  
}