.carousel-title {
  color: #392f9e;
}

.carousel-item {
  padding: 0 12%;
}

.carousel-control-prev, .carousel-control-next {
  background: #5244e3 !important;
  padding: 8px !important;
  border-radius: 50%;
  top: 46% !important;
  bottom: 50% !important;
  opacity: 1 !important;
}

.carousel-control-prev {
  left: 2% !important;
}

.carousel-control-prev-icon {
  margin-right: 10%;
}

.carousel-control-next {
  right: 2% !important;
}

.carousel-control-next-icon {
  margin-left: 10%;
}

.carousel-indicators {
  display: none !important;
}

/* Responsive Styles */

@media (max-width: 440px) {
  img {
    width: 72%;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 32px !important;
    height: 32px;
  }   
}

@media (min-width: 441px) and (max-width: 576px) {
  img {
    width: 76%;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 36px !important;
    height: 36px;
  }   
}

@media (min-width: 577px) {
  img {
    width: 48%;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 36px !important;
    height: 36px;
  }   
}

@media (min-width: 768px) {
  .carousel-control-prev, .carousel-control-next {
    width: 42px !important;
    height: 42px;
  }   
}

@media (min-width: 992px) {
  .carousel-control-prev, .carousel-control-next {
    width: 48px !important;
    height: 48px;
  }   
}