header .nav-link {
  color: #5244e3 !important;
  text-decoration: none;
}

header .nav-link:hover {
  color: #392f9e !important;
}

footer .nav-link {
  color: white !important;
  text-decoration: none;
  font-weight: 500 !important;
}

footer .nav-link:hover {
  color: antiquewhite !important;
}